.reservation-search

	letter-spacing 2px
	text-align left

	.label
		set-font-size(22px)
		color #555
		text-transform uppercase
		line-height 2

	.date
		set-font-size(20px)
		color #b5b5b5

	.group
		margin-bottom 30px

	.button-holder
		opacity 0
		transition opacity 1s
		&.-show
			opacity 1
