{% import 'components/button/index.njk' as button %}

{% macro template() %}
	<form action="/service/get-hotels" class="reservation-search">
		<template>
			<div class="form-group">

				<div class="group check-in">
					<label class="label">Check-In</label>
					<p class="date">
						(if !checkin )Choose a date (else) (checkin) (fi)
					</p>
				</div>
				<div class="group check-out">
					<label class="label">Check-Out</label>
					<p class="date">
						(if !checkout )Choose a date(else) (checkout) (fi)
					</p>
				</div>

				<input type="hidden" name="checkout" value="(checkout)" />
				<input type="hidden" name="checkin" value="(checkin)" />

				<div class="button-holder (if checkout )-show(fi)">
					{{ button.default('Search hotels', '-secondary') }}
				</div>
			</div>
		</template>
	</form>
{% endmacro %}

{% macro raw() %}
	<form action="/service/get-hotels" class="reservation-search">
		<div class="form-group">

			<div class="group check-in">
				<label class="label">Check-In</label>
				<p class="date">
					Choose a date
				</p>
			</div>
			<div class="group check-out">
				<label class="label">Check-Out</label>
				<p class="date">
					August 21, 2017
				</p>
			</div>
			<input type="hidden" name="checkout" value="">
			<input type="hidden" name="checkin" value="">

		</div>
	</form>
{% endmacro %}
