{% macro default() %}
	<footer class="footer">
		<nav class="social-links">
			<a href="#" target="_blank">Facebook<svg class="facebook"><use xlink:href="assets/svg/sprite.svg#facebook"></use></svg></a>
			<a href="#" target="_blank">Twitter<svg class="twitter"><use xlink:href="assets/svg/sprite.svg#twitter"></use></svg></a>
			<a href="#" target="_blank">Instagram<svg class="instagram"><use xlink:href="assets/svg/sprite.svg#instagram"></use></svg></a>
		</nav>
		<p class="copyright">© 2004-2017 Visit Charlotte. All Rights Reserved. 500 S. College Street, Suite 300, Charlotte, NC 28202</p>
	</footer>
{% endmacro %}
