.footer
	text-align center
	box-shadow 0 2px 30px 0 rgba(0, 0, 0, 0.13)
	padding 40px 0

	> .copyright
		color #b5b5b5
		set-font-size(12px)

	> .social-links
		font-size 0
		margin-bottom 30px

		a
			display inline-block
			margin-right 20px

		svg
			fill color-secondary
			width 34px
			height @width
