.button
	border 2px solid transparent
	border-radius 35px
	padding 14px 35px
	background-color transparent
	cursor pointer
	transition background-color .5s, color .6s
	outline none
	set-font-size 15px

	set-color( color )
		border-color color
		color color
		&:hover
			background-color color
			color #fff

	&.-primary
		set-color( color-primary )

	&.-secondary
		set-color( color-secondary )
