.price-history
	padding 10px 40px 10px 0
	transition opacity 2s
	background-color #fff
	position relative

	.price-header
		overflow hidden

	.title
		float left
		text-transform uppercase
		color color-secondary
		set-font-size( 16px )
		line-height 1.5em

	.back
		float right
		color #555
		set-font-size( 12px )
		letter-spacing 1px
		margin-top 4px

	.back-arrow
		fill color-secondary
		width 32px
		height 18px
		display inline-block
		vertical-align middle
		margin-right 8px

	.chart-area
		position absolute
		height 60%
		bottom 25px
		width 100%
		left 0
