.chart
	border-bottom 2px solid #d9d9d9

	&, .bars, li, .bar
		height 100%

	.bars
		display flex
		width 100%

	li
		position relative
		flex 1
		align-self baseline
		text-align center
		vertical-align bottom

		&:hover
			.bar
				opacity 1
			.tooltip
				margin-top -35px
				opacity 1

	.bar
		width 27px
		vertical-align bottom
		display inline-block
		border-radius 4px 4px 0 0
		opacity .6
		transition opacity .8s
		margin-bottom -1px

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f98100+0,ee6f48+100 */
		background #f98100 /* Old browsers */
		background -moz-linear-gradient(top, #f98100 0%, #ee6f48 100%) /* FF3.6-15 */
		background -webkit-linear-gradient(top, #f98100 0%, #ee6f48 100%) /* Chrome10-25,Safari5.1-6 */
		background linear-gradient(to bottom, #f98100 0%, #ee6f48 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	.legend
		display inline-block
		width 100%
		margin-top 10px
		color #b5b5b5
		set-font-size(14px)

	.tooltip
		position absolute
		left 0
		margin-top -50px
		width 100%
		opacity 0
		transition opacity .8s, margin-top .5s

		.value
			position relative
			background-color #484848
			padding 1px 10px
			border-radius 4px
			set-font-size(15px)
			color #fff
			@media on-small
				padding 2px

			&:after
				position absolute
				bottom -3px
				left 50%
				margin-left -3.5px
				content: ''
				width 0
				height 0
				border-style solid
				border-width 3px 3.5px 0 3.5px
				border-color #484848 transparent transparent transparent
