@require 'config'
@require 'components/*'

.gl-title
	font-size 2rem

.gl-subtitle
	font-size 1.5rem
	color color-primary
	border-top 1px solid #e3e3e3


.gl-title,
.gl-subtitle
	padding 20px 50px
	margin 20px 0

.component
	padding 20px 50px
	@media on-small
		padding 20px 25px

	&.-full
		padding-left 0
		padding-right 0

	&.-center
		text-align center

.main-content
	min-height 300px
	max-width 800px
	margin 0 auto
