{% extends 'layouts/default.njk' %}

{% set application = 'guideline' %}

{% block title %}Guideline{% endblock %}

{% block content %}
	<h1 class="gl-title">Guideline</h1>

	<h2 class="gl-subtitle">Header</h2>

	<section class="component -full">
		{% import 'components/header/index.njk' as header %}
		{{ header.default() }}
	</section>

	<h2 class="gl-subtitle">Main Content</h2>

	<section class="component">
		<section class="main-content"></section>
	</section>

	<h2 class="gl-subtitle">Main Title</h2>

	<section class="component -center">
		<h2 class="main-title">Select the dates to stay in Charlotte</h2>
	</section>

	<h2 class="gl-subtitle">Reservation Search</h2>
	<section class="component">
		{% import 'components/reservation-search/index.njk' as reservation %}
		{{ reservation.raw() }}
	</section>

	<h2 class="gl-subtitle">Calendar</h2>
	<section class="component">
		<div class="calendar" data-component="calendar"></div>
	</section>

	<h2 class="gl-subtitle">Slider</h2>
	<section class="component">
		{% import 'components/slider/index.njk' as slider %}
		{{ slider.raw() }}
	</section>

	<h2 class="gl-subtitle">Rating</h2>
	<section class="component">
		{% import 'components/rating/index.njk' as rating %}
		{{ rating.default() }}
	</section>

	<h2 class="gl-subtitle">Card</h2>
	<section class="component">
		{% import 'components/card/index.njk' as card %}
		{{ card.raw() }}
	</section>

	<h2 class="gl-subtitle">Footer</h2>
	<section class="component -full">
		{% import 'components/footer/index.njk' as footer %}
		{{ footer.default() }}
	</section>

{% endblock %}
