.rating

	.label
		set-font-size( 13px )
		color #b5b5b5
		display block
		margin-bottom 10px

	.stars
		font-size 0
		white-space nowrap
		display inline-block
		width 130px
		height 25px
		overflow hidden
		position relative
		background embedurl('../../../assets/svg/star-outline.svg')
		background-size contain

		i
			opacity 0
			position absolute
			left 0
			top 0
			height 100%
			width 20%
			z-index 1
			background embedurl('../../../assets/svg/star-filled.svg')
			background-size contain

		input
			-moz-appearance none
			-webkit-appearance none
			opacity 0
			display inline-block
			width 20%
			height 100%
			margin 0
			padding 0
			z-index 2
			position relative
			cursor pointer

			&:hover + i,
			&:checked + i
				opacity 1

		i ~ i
			width 40%

		i ~ i ~ i
			width 60%

		i ~ i ~ i ~ i
			width 80%

		i ~ i ~ i ~ i ~ i
			width 100%
