{% macro default() %}
	<div class="rating">
		<label class="label">Stars</label>
		<span class="stars">
			{% for i in range(0, 5) %}
				(if rating == {{i+1}})
					<input type="radio" name="rating" value="{{i+1}}" checked><i></i>
				(else)
					<input type="radio" name="rating" value="{{i+1}}"><i></i>
				(fi)
			{% endfor %}
		</span>
	</div>
{% endmacro %}
