.calendar
	// This code was pasted from github pickmeup generated css file
	// Just changing the values I need
	.pickmeup
		border-radius .4em
		-moz-box-sizing content-box
		box-sizing content-box
		display inline-block
		position absolute
		touch-action manipulation

		*
			-moz-box-sizing border-box
			box-sizing border-box

		&.pmu-flat
			position relative

		&.pmu-hidden
			display none

		.pmu-instance
			display inline-block
			height 13.8em
			padding .5em
			text-align center
			width 321px

		.pmu-instance .pmu-button
			cursor pointer
			outline none
			text-decoration none
			color #555
			transition background-color 1s
			background-color #fff

		.pmu-instance .pmu-today
			color color-primary
			font-weight bold

		.pmu-instance .pmu-button:hover
			color color-primary

		.pmu-instance .pmu-not-in-month
			visibility hidden

		.pmu-instance .pmu-disabled,
		.pmu-instance .pmu-disabled:hover
			color #333
			cursor default
			opacity .3

		.pmu-days .pmu-selected.animate,
		.pmu-months .pmu-selected
			background-color color-primary
			color #fff

		.pmu-days .pmu-selected
			border-radius 50%

		.pmu-days.multiple .pmu-selected
			border-radius 0

		.pmu-days .pmu-selected.first
			border-radius 50% 0 0 50%

		.pmu-days .pmu-selected.last
			border-radius 0 50% 50% 0
			span
				background-color #fff
				transform scale(.9)
				color color-primary
				border-radius 50%

		.pmu-instance nav
			color #eee
			display -ms-flexbox
			display -webkit-flex
			display flex
			line-height 2em
			&:first-child
				padding-top 15px
				border-top 2px solid #e3e3e3
				margin-bottom 15px

		.pmu-instance nav *:first-child:hover
			color: #88c5eb

		.pmu-instance nav .pmu-prev,
		.pmu-instance nav .pmu-next
			display none
			height 2em
			width 1em

		.pmu-instance nav .pmu-month
			flex 2
			letter-spacing 2px

		.pmu-instance .pmu-years *,
		.pmu-instance .pmu-months *
			display inline-block
			line-height 3.6em
			width 3.5em

		.pmu-instance .pmu-day-of-week
			color #999
			cursor default
			border-bottom 2px solid #e3e3e3
			margin-bottom 10px
			padding 0 5px

		.pmu-instance .pmu-day-of-week *,
		.pmu-instance .pmu-days *
			display inline-block
			line-height 42px
			width 41px
			height 40px

		.pmu-instance .pmu-days *
			margin-bottom 8px

		.pmu-instance:first-child .pmu-prev,
		.pmu-instance:last-child .pmu-next
			display block

		&:not(.pmu-view-days) .pmu-days,
		&:not(.pmu-view-days) .pmu-day-of-week,
		&:not(.pmu-view-months) .pmu-months,
		&:not(.pmu-view-years) .pmu-years
			display none
