set-font-size( value ) {
    font-size: value

    if (value is inherit) {

    } else {
        font-size remify(value)
    }
}

remify( value ) {
    u = unit(value)

    if (u is 'px') {
        return unit(value/16, 'rem')
    } else {
        return unit(value, u)
    }
}
