//@Colors
color-primary = #79bd1a
color-secondary = #f98100

//@Fonts
font-primary = 'Heebo', sans-serif
font-secondary = 'Montserrat', sans-serif

//@Sizes
xsmall = 320px
small  = 768px
medium = 1024px
large  = 1280px
xlarge = 1440px

//@Breakpoints
on-xsmall = '(max-width: ' + xsmall + ')'
on-small  = '(max-width:'  + small + ')'
on-medium = '(max-width:'  +  medium + ')'
on-large  = '(max-width:'  + large + ')'
on-xlarge = '(max-width:'  + xlarge + ')'

//@Site holder
$holder
	margin 0 auto

	@media on-xlarge
		max-width xlarge
	@media on-large
		max-width large
	@media on-medium
		max-width medium
	@media on-small
		max-width small
