{% extends 'layouts/default.njk' %}

{% set application = 'reservation' %}

{% import 'components/header/index.njk' as header %}
{% import 'components/footer/index.njk' as footer %}
{% import 'components/reservation-search/index.njk' as reservation %}
{% import 'components/slider/index.njk' as slider %}
{% import 'components/rating/index.njk' as rating %}
{% import 'components/card/index.njk' as card %}
{% import 'components/calendar/index.njk' as calendar %}
{% import 'components/main-title/index.njk' as title %}

{% block title %} Reservation {% endblock %}

{% block content %}

	{{ header.default() }}

	<main class="main" data-component="reservation">

		<section class="main-content" data-component="main-content">

			{{ title.default('Select the dates to stay in Charlotte') }}

			<div class="grid">
				<div class="column">
					{{ reservation.template() }}
				</div>
				<div class="column">
					{{ calendar.default() }}
				</div>
			</div>

		</section>

		<section class="search-results" data-component="search-results">

			<template>

				<div class="search-holder">

					{{ title.default('Best choices between (checkin) and (checkout)') }}

					<aside class="search-filter">
						<h3 class="main-title">Filters</h3>
						{{ slider.default() }}
						{{ rating.default() }}
					</aside>

					<ul class="results-list (if isfiltering)-loading(fi)">
						{{ card.template() }}
					</ul>
				</div>

			</template>

		</section>

	</main>

	{{ footer.default() }}

{% endblock %}
