<!doctype html>
<html lang="en">
	<head>
		<title>RV Test | {% block title %}Test{% endblock %}</title>

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link href="//fonts.googleapis.com/css?family=Heebo:400,700" rel="stylesheet" />
		<link href="//fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet" />

		{% block style %}
			<link href="dist/{{application}}/index.css" rel="stylesheet" />
		{% endblock %}

		{% block script %}
			<script type="text/javascript" data-application="dist/{{application}}/index.js" id="main-script" src="dist/core.js" async defer></script>
		{% endblock %}
	</head>
	<body>

		{% block content %}{% endblock %}

	</body>
</html>
