body
	display flex
	min-height 100vh
	flex-direction column
	transition opacity .8s

	&.-loading
		opacity .4

.main
	flex 1

.header
	.nav-links
		@extend $holder

.main-content
	height 450px
	max-width 840px
	margin -100px auto
	padding 65px 108px
	text-align center

	@media on-small
		padding 65px 0
		height auto

	.grid
		display flex
		margin-top 50px
		@media on-small
			flex-direction column

		.column
			flex 1
			@media on-small
				&:first-child
					order 2

		.form-group
			@media on-small
				text-align center

	.reservation-search
		margin-top 35px


.search-results
	text-align center
	margin 180px 0 100px
	padding 0 50px
	@media on-small
		padding 0 25px

	.search-holder
		display flex
		flex-wrap wrap

		> .main-title
			width 100%
			padding 80px 0

		> .search-filter
			width 25%
			@media on-medium
				width 100%

		> .results-list
			width 75%
			padding-left 120px
			@media on-medium
				width 100%
				padding-left 0

	li
		margin-bottom 45px
		&.no-results
			text-align left

.search-filter
	text-align left

	.main-title
		margin-bottom 40px

	.rating
		margin 20px 0
		padding 20px 0
		border-top 1px solid #e3e3e3

.footer
	margin-top 150px
