{% macro default() %}
	<div class="slider" data-component="slider" data-min="(range.min)" data-max="(range.max)">

		<label class="label">Price Range</label>

		<div class="control"></div>

		<div class="slider-footer">
			<div class="value -min">
				<label class="label">Min</label>
				<span class="price">$<small class="number">(range.min)</small></span>
			</div>
			<div class="value -max">
				<label class="label">Max</label>
				<span class="price">$<small class="number">(range.max)</small></span>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro raw() %}
	<div class="slider" data-component="slider" data-min="140" data-max="600">

		<label class="label">Price Range</label>

		<div class="control"></div>

		<div class="slider-footer">
			<div class="value -min">
				<label class="label">Min</label>
				<span class="price">$<small class="number">140</small></span>
			</div>
			<div class="value -max">
				<label class="label">Max</label>
				<span class="price">$<small class="number">600</small></span>
			</div>
		</div>
	</div>
{% endmacro %}
