@import '//cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css'

.slider

	.label
		color #b5b5b5
		set-font-size( 13px )

	.price
		display block
		&, .number
			color color-secondary
			set-font-size( 22px )


	.slider-footer
		display flex
		justify-content space-between

	.value
		&:last-child
			text-align right
		.label
			set-font-size( 15px )

	//@noUiSlider
	.control
		position relative
		display block
		input[type=range]
			display none
		height auto
		border none
		border-top 4px solid color-secondary
		background none
		box-shadow none
		border-radius 5px
		margin 15px

		.noUi-base
			top -10px

		.noUi-handle
			border-radius 50%
			border 4px solid color-secondary
			width 27px
			height @width
			display inline-block
			background-color #fff
			outline none
			cursor -moz-grab
			cursor -webkit-grab

			&:after, &:before
				display none

			&:active
				cursor -moz-grabbing
				cursor -webkit-grabbing
