{% macro template() %}
	(if !items.length)
		<li class="no-results">
			<h4>No results found...</h4>
		</li>
	(fi)
	(foreach item in items)
		<li>
			<div class="card" data-component="card">
				<div class="thumbnail">
					<img src="(item.image)" alt="(item.name)" />
				</div>
				<div class="content">
					<div class="description">
						<div class="card-rating">
							(foreach star in item.stars)
								<svg class="star"><use xlink:href="assets/svg/sprite.svg#star-filled"></use></svg>
							(end)
						</div>
						<h3 class="title">(item.name)</h3>
						<div class="text">
							<p>(item.description)</p>
						</div>
						<form class="actions" action="/">
							<button type="submit" class="button -secondary">Book now</button>
							<button type="submit" class="button -primary">Price History</button>
						</form>
					</div>
					<div class="price-history">

						<div class="price-header">
							<h4 class="title">Price history for 2017</h4>
							<a href="#/" class="back"><svg class="back-arrow"><use xlink:href="assets/svg/sprite.svg#back-arrow"></use></svg>Back to description</a>
						</div>
						<div class="chart-area">
							<div class="chart">
								<ul class="bars">
									(foreach bar in item.price_history)
										<li>
											<div class="bar" style="height:(bar.percent)%">
												<p class="tooltip">
													<span class="value">$(bar.value)</span>
												</p>
											</div>
											<p class="legend">(bar.label)</p>
										</li>
									(end)
								</ul>
							</div>
						</div>

					</div>

					<div class="total">
						<div class="price">
							<p class="label">Total</p>
							<strong class="number">$(~~item.price)</strong>
						</div>
					</div>
				</div>
			</div>
		</li>
	(end)
{% endmacro %}

{% macro raw() %}
	<div class="card" data-component="card"><div class="thumbnail"><img src="http://www.raphaelfabeni.com.br/rv/test-resources/images/hotels/super-8.jpg" alt="Super 8 Speedway/University"></div><div class="content"><div class="description"><div class="card-rating"><svg class="star"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#star-filled"></use></svg><svg class="star"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#star-filled"></use></svg><svg class="star"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#star-filled"></use></svg></div><h3 class="title">Super 8 Speedway/University</h3><div class="text"><p>Just off Interstate 85, this hotel features free Wi-Fi and a daily continental breakfast with hot waffles. The Charlotte Motor Speedway is a 15 minute drive from the hotel.</p></div><form class="actions" action="/"><button type="submit" class="button -secondary">Book now</button><button type="submit" class="button -primary">Price History</button></form></div><div class="price-history"><div class="price-header"><h4 class="title">Price history for 2017</h4><a href="#/" class="back"><svg class="back-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#back-arrow"></use></svg>Back to description</a></div><div class="chart-area"><div class="chart"><ul class="bars"><li><div class="bar" style="height:80.21978021978022%"><p class="tooltip"><span class="value">$146</span></p></div><p class="legend">Jan</p></li><li><div class="bar" style="height:100%"><p class="tooltip"><span class="value">$182</span></p></div><p class="legend">Feb</p></li><li><div class="bar" style="height:71.42857142857143%"><p class="tooltip"><span class="value">$130</span></p></div><p class="legend">Mar</p></li><li><div class="bar" style="height:65.38461538461539%"><p class="tooltip"><span class="value">$119</span></p></div><p class="legend">Apr</p></li><li><div class="bar" style="height:93.95604395604396%"><p class="tooltip"><span class="value">$171</span></p></div><p class="legend">May</p></li><li><div class="bar" style="height:84.61538461538461%"><p class="tooltip"><span class="value">$154</span></p></div><p class="legend">Jun</p></li><li><div class="bar" style="height:89.56043956043956%"><p class="tooltip"><span class="value">$163</span></p></div><p class="legend">Jul</p></li></ul></div></div></div><div class="total"><div class="price"><p class="label">Total</p><strong class="number">$180</strong></div></div></div></div>
{% endmacro %}
