.card
	padding 30px 0
	box-shadow 0 4px 17px 0 rgba(0, 0, 0, 0.22)
	display table
	width 100%
	border-radius 5px
	text-align left

	&.-show-history
		.description
			opacity 0
		.price-history
			opacity 1
			visibility visible
		.total
			opacity 0
			transform translateY(25px)

	.thumbnail
		display table-cell
		vertical-align middle

		@media on-medium
			width 170px
			padding-left 30px

		@media on-small
			width auto
			padding 0
			display block
			text-align center

		img
			box-shadow 0 0 12px 0 rgba(145, 145, 145, 0.47)
			margin-left -55px
			border-radius 5px
			width 200px

			@media on-medium
				width 160px
				margin-left 0

			@media on-small
				width auto
				margin 0

	.content
		position relative
		display flex
		width 100%
		padding 10px 25px
		@media on-small
			display block

	.description
		position relative
		flex 1
		vertical-align middle
		width 80%
		transition opacity 1s
		@media on-small
			width auto
			display block

		.star
			width 13px
			height 12px
			fill #ffba23
			margin-bottom 15px

		.title
			text-transform uppercase
			color color-secondary
			set-font-size( 16px )
			line-height 1.5em

		.text
			color #b5b5b5
			margin-top 20px
			set-font-size( 15px )
			padding 0 15px

		.actions
			margin-top 20px

			.button
				border-width 1px
				padding 10px 25px

				&:first-child
					margin-right 20px
					@media on-small
						margin 0 6px 20px 0

	.price-history
		position absolute
		width 100%
		left 0
		top 0
		height 100%
		opacity 0
		transition visibility .9s, opacity 1s
		visibility hidden
		z-index 2

		&, .chart-area
			padding 0 20px

		@media on-small
			padding-top 10px

	.total
		position relative
		border-left 2px solid #ebebeb
		text-align center
		padding 0 20px
		width 25%
		transition transform 1s, opacity 1s
		transform translateY(0)
		@media on-small
			width auto
			display block
			border none
			padding 0

		.price
			position absolute
			top 50%
			left 15%
			text-align right
			@media on-small
				position static

		.label
			color #b2b0c0
			set-font-size(16px)
			letter-spacing 1px

		.number
			font bold 30px font-secondary
			color color-primary
			letter-spacing 3px
