{% macro default() %}
	<header class="header">
		<nav class="nav-links">
			<a href="/">The Queen City</a>
			<a href="/reservation">My Reservations</a>
			<a href="/guideline">Guide</a>
		</nav>
		<section class="title-holder">
			<svg class="crown"><use xlink:href="assets/svg/sprite.svg#crown"></use></svg>
			<h1 class="title">
				Welcome to <strong class="highlight">Charlotte</strong>
				<em class="more">The Queen City</em>
			</h1>
		</section>
	</header>
{% endmacro %}
