.header
	background #0C225C embedurl('/assets/images/hero.jpg') 0 0 no-repeat
	background-size 100%
	color #fff
	min-height 600px
	text-align center

	@media on-large
		min-height 450px

	@media on-small
		background-size cover

	.nav-links
		padding 25px
		set-font-size( 15px )
		text-align left
		@media on-small
			text-align center
			padding 25px 5px

		a
			color #fff
			display inline-block
			margin-right 25px
			@media on-small
				margin 0 10px

	.title-holder
		text-align center
		margin 20px auto 0
		font-size 16px
		display inline-block

		@media on-large
			font-size 13px
			margin-top 0

		@media on-small
			font-size 9px
			margin-top 25px

		> .crown
			fill #fff
			width 54px
			height 44px

		> .title
			font-weight 600
			font-family font-secondary
			font-size (22/16)em
			text-transform uppercase
			letter-spacing 3px
			margin-top 10px

			.highlight
				font-size (76/22)em
				letter-spacing 10px
				margin 10px 0 15px
				border-top 2px solid #fff
				border-bottom @border-top
				padding 10px 2px 10px 10px
				display block

			.more
				font-style normal
				display block
