@require 'config'
@require 'components/*'

body
	display flex
	align-items center
	justify-content center
	height: 100vh

.content
	padding 40px

	.title
		set-font-size(50px)

	.navigation
		margin-top 45px
		padding 25px 0
		set-font-size(25px)

		a
			color color-primary
			display block
			&:hover
				color color-secondary
