{% extends 'layouts/default.njk' %}

{% set application = 'landing' %}
{% block title %} Landing Page {% endblock %}

{% block content %}

	<main class="content">
		<h1 class="title">Charlotte Reservation</h1>

		<nav class="navigation">
			<ul>
				<li>
					<a href="/reservation">Go to <span>Site</span></a>
				</li>
				<li>
					<a href="/guideline">Go to <span>Guideline</span></a>
				</li>
			</ul>
		</nav>
	</main>

{% endblock %}
